head
    title Short-Term Amnesia Reminder
    | <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    script(src='/js/jquery.js')
    block js_includes
    link(rel='stylesheet',href='/style.css')
    link(rel='shortcut icon',href='/icon.png')
