<html>

<head>

<title>STAR/K Project</title>

<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,600,700' rel='stylesheet' type='text/css'>

<link href="main.css" rel="stylesheet" type="text/css" />
<link href="icon.png" rel="shortcut icon" type="image" />

</head>

<body>

<div class="main">

	<div class="header">

		<h1>STAR/K Project</h1>
		<p>Short-Term Amnesia Reminder & STAR Kit</p>

		<div class="navigation">
			<a href="index.html">About</a>
			<a href="reports.html">Reports</a>
		</div>

	</div>
	
	<h2>About</h2>
	<p>
		Our project is called STAR and STARK – Short-Term Amnesia Reminder and STAR Kit.
	</p>
	<p>
		STAR is a programmable reminder for patients who suffer from short-term amnesia. The STAR device will be mounted on a wall, which queues up tasks designed by a caregiver. The device will display the designed tasks on its screen and plays accompanying audio.
	</p>
	<p>
		The STAR kit is a GUI program that allows the caregiver to create new tasks with priorities and times in a familiar calendar interface. The program will also allow the user to download log files of task completion times and rates, to determine efficacy or track errors. We would like to create this device to make it easy to remind a patient of a specific task at a certain time. 
	</p>
	
	<h3>Team</h3>
	<ul>
		<li>Patrik Natali</li>
		<li>Michael Hetzel</li>
		<li>Zachary Corathers</li>
		<li>Kris Schroeter</li>
	</ul>

<div class="footer"><a href="http://www.calu.edu">California University of Pennsylvania</a></div>

</div>

</body>

</html>