body
    {
    text-align: center;
    background: #57A;
    font-family: 'Open Sans', sans-serif;
    }
  
h1
    {
    margin: 10px;
    }

h2
    {
    color: #57A;
    border-bottom: 2px solid #57A;
    }
    
h3
    {
    color: #57A;
    border-bottom: 1px solid #57A;
    }
	
h4
	{
	color: #57A;
	}

img
    {
    border: 0;
    }

a
    {
    color: #57A;
    text-decoration: underline;
    }

a:hover
    {
    color: #111;
    background: #CCC;
    }

fieldset
	{
	border: 0;
	padding: 0;
	padding-bottom: 5px;
	}
	
hr
	{
	border: 0;
	color: #57A;
	background-color: #57A;
	height: 1px;
	}

#main
    {
    margin: auto;
    width: 800px;
    padding: 10px;
    color: #111;
    text-align: left;
    background: #EEE;
    }
  
#header
    {
    margin: 0;
    padding: 10px 0;
    color: #EEE;
    background-color: #57A;
    background-image: url("/headerbg.png");
    background-position: center right;
    background-repeat: no-repeat;
    } 
 
#header p
    {
    margin: 10px;
    }

#navigation
    {
    background: #EEE;
    padding: 0;
    font-weight: 600;
    }

#navigation a
    {
    padding: 0 15px;
    text-decoration: none;
    }

#footer
    {
	clear: both;
    color: #57A;
    font-size: 75%;
    text-align: center;
    border-top: 1px solid #57A;
    }
   
#footer a
    {
    text-decoration: none;
    }

input#start_date, input#start_hours, input#start_minutes,
input#end_date, input#end_hours, input#end_minutes
	{
    width: 150px;
	}

#latest_event
	{
    display: hidden;
	}

#latest_event #video
	{
    height: 250px;
    width: 250px;
    background-color: #57A;
	}

#alerts, #current_time
	{
	margin-bottom: 0;
	}
	
#alerts
	{
	border: 0;
	}

#current_title
	{
	margin: 2px 0;
	padding-left: 10px;
	background-color: #57A;
	color: #EEE;
	}

#latest_event h3
	{
	margin: 2px 0;
	padding-left: 10px;
	}
