body
    {
    text-align: center;
    background: #57A;
    font-family: 'Open Sans', sans-serif;
    }
  
h1
    {
    margin: 10px;
    }

h2
    {
    color: #57A;
    border-bottom: 2px solid #57A;
    }
    
h3
    {
    color: #57A;
    border-bottom: 1px solid #57A;
    }

img
    {
    border: 0;
    }

a
    {
    color: #57A;
    text-decoration: underline;
    }

a:hover
    {
    color: #111;
    background: #CCC;
    }

.main
    {
    margin: auto;
    width: 800px;
    padding: 10px;
    color: #111;
    text-align: left;
    background: #EEE;
    }
  
.header
    {
    margin: 0;
    padding: 10px 0;
    color: #EEE;
    background-color: #57A;
    background-image: url("headerbg.png");
    background-position: center right;
    background-repeat: no-repeat;
    }
  
 
.header p
    {
    margin: 10px;
    }
 

.navigation
    {
    background: #EEE;
    padding: 0;
    font-weight: 600;
    }

.navigation a
    {
    padding: 0 15px;
    text-decoration: none;
    }

.footer
    {
    color: #57A;
    font-size: 75%;
    text-align: center;
    border-top: 1px solid #57A;
    }
    
.footer a
    {
    text-decoration: none;
    }
